<div class="navbar-container">
  <div class="center-container">
    <div class="center-space-between-content">
      <div class="nav-content left-container">

        <div class="center-container">
          <div class="center-left-content">
            <button class="menu-btn" (click)="onToggleSidebar.emit()" mat-button>
                <i class="fa fa-bars"></i>
            </button>
            <!--<h3 class="page-title">{{ channelName | ucwords }}</h3>-->

            <button (click)="onCreate()" *ngIf="createPost" mat-button class="create-new-post-btn">
              <span class="text">CREATE POST</span> <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="nav-content right-container">
        <div class="center-container">
          <div class="center-left-content">
            <div class="notifications-container" *ngIf="userService.user.value">
              <button class="notifications-btn" mat-button><i class="fas fa-envelope"></i></button>
            </div>

            <div class="search-container">
              <form action="">
                <input type="text" placeholder="Search">
              </form>
            </div>

            <div class="user-container">

              <div class="btn-wrapper" *ngIf="!userService.user.value">
                <button [routerLink]="['', 'login']" mat-button class="login-btn action-btn">Log in</button>
                <button [routerLink]="['', 'register']" mat-button class="signup-btn action-btn">Sign up</button>
              </div>

              <!--<button (click)="authService.logout()" mat-button class="user-btn" *ngIf="authService.user.value">
                <div class="center-container">
                  <div class="center-left-content">
                    <div class="img-container" style="background-image: url('assets/img/placeholder-profile-picture.jpg');">
                    </div>

                    <div class="name-container">
                      {{ authService.user.value.email }}
                    </div>
                  </div>
                </div>
              </button>-->

              <div class="dropdown" *ngIf="userService.user.value">
                <button mat-button class="user-btn" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ userService.user.value.username }}
                  {{ userService.user.value.email }}
                </button>

                <div class="dropdown-menu user-dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item"
                  [routerLink]="['', 'u', userService.user.value.username]">Profile</a>
                  <a class="dropdown-item" (click)="authService.logout()">Logout</a>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
