@import '../../../../app.component.scss';

.create-post-container {
  padding: 12px;

  .create-post-form {
    .form-control-container {
      margin-bottom: 12px;

      .form-input-container {
        margin-bottom: 18px;
      }
      .last-child-component {
        margin: 0;
      }

      .form-input {
        padding: 8px 10px;
        border-color: darken($primary_background_color, 8%);
        &:focus {
          border-color: $text_color_dark;
        }
      }

      .body-input {
        min-height: 130px;
      }
    }

    .action-btn-container {
      text-align: right;
      .action-btn {
        width: 150px;
        font-size: 16px;
        color: $text_color_dark;
        font-weight: 400;
        background-color: $primary_color;
        color: #ffffff;
        outline: none;
        position: relative;
        margin-left: 30px;
      }
    }

    .channel-container {
      margin-bottom: 18px;

      .channel-btn {
        font-size: 16px;
        font-weight: 400;
        color: $primary_color;
        background-color: #ffffff;
        border: 1px solid darken($primary_background_color, 8%);
        outline: none;

        .fa-caret-down {
          position: relative;
          font-size: 18px;
          top: -2px;
          margin-left: 6px;
        }
      }

      .dropdown-menu {
        padding: 0;
        overflow: hidden;
      }
      .dropdown-item {
        color: $text_color_dark;
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        &:active {
          background-color: $primary_background_color;
        }
      }
    }
  }
}
