@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700|Rubik:300,400,500,700|Varela+Round');

$primary_color: #fb461e;
$primary_background_color: #f7f7f7;
$text_color_light: #bdbdbd;
$text_color_dark: #3c3c3c;
$success_color: #25C646;
$danger_color: #E23D3D;
$pending_color: #EFE934;

$primary_font: 'Roboto', sans-serif;
$sans_font: 'Rubik', sans-serif;
$font_3: 'Varela Round', sans-serif;
$font_4: 'Nunito Sans', sans-serif;

.center-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  .center-space-between-content {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .vertical-center-space-between-content {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .center-left-content {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: flex-start;
  }
}

.card {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 24px;
  display: inline-block;
}

.cool-form {
  .form-label {
    font-size: 13px;
    font-weight: 300;
    color: $text_color_light;
    display: block;
    margin-bottom: 4px;
  }

  .form-input {
    background-color: #ffffff;
    padding: 10px 12px;
    color: $text_color_dark;
    border-radius: 5px;
    width: 100%;
    outline: none;
    font-size: 14px;
    &:focus {
      border-color: $text_color_dark;
    }
  }
}
