<div class="sidebar-container">
  <div class="logo-container">
    <img [routerLink]="['']" class="logo-img" src="assets/img/logo-header.png" alt="classpassed">
  </div>

  <div class="link-list-container">
    <ul class="link-list">
      <li [routerLink]="['', 'c', 'all']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="link-item">ALL</li>
      <li [routerLink]="['', 'c', 'discussions']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="link-item">DISCUSSIONS</li>
      <li [routerLink]="['', 'c', 'homework-help']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="link-item">HOMEWORK HELP</li>
      <li [routerLink]="['', 'chat']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="link-item">LIVE CHAT</li>
    </ul>
  </div>

  <div class="random-content-container">
    <div class="content-container">
      <div class="header-container">
        <h5 class="header">Header</h5>
        <p class="meta-data">Meta data</p>
      </div>
      <div class="description-container">
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="content-container">
      <div class="header-container">
        <h5 class="header">Header</h5>
        <p class="meta-data">Meta data</p>
      </div>
      <div class="description-container">
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
      </div>
    </div>
  </div>

  <div class="settings-container" *ngIf="userService.user.value">
    <div class="grid-container grid-system-1">
      <div class="left-container">
        <button [routerLink]="['', 'settings']" class="action-btn"><i class="fas fa-cog"></i></button>
      </div>
      <div class="right-container">
        <button class="action-btn"><i class="fas fa-users"></i></button>
      </div>
    </div>
  </div>
</div>
